<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{geral :: head(Home)}"></head>
<body>
<div class="row">
  <header th:replace="~{geral :: header}"></header>
</div>

<table>

  <thead>
  <tr>
    <th>CardName</th>
    <th>ImageLink</th>
  </tr>
  <tr th:each="card : ${cardList}">
    <td><span th:text="${card.card_name}"></span>Card Name</td>
    <td><span th:text="${card.img_link}">ImageLink</span></td>
  </tr>
  </thead>

</table>

<a href="login.html">Fazer Login</a>
<div class="row">
  <footer th:replace="~{geral :: footer}"></footer>
</div>
</body>
</html>